body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.page-title {
    font-size: 36px;
    font-weight: 700;
    color: #34495e;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    border-bottom: 2px solid #3498db;
    display: inline-block;
    padding-bottom: 10px;
}

h1, h2 {
    text-align: center;
}
details {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 98%;
    margin-top: 10px;
}

summary {
    cursor: pointer;
    outline: none;
}

#addBookForm {
    margin-bottom: 20px;
    background-color: #fff;
    color: #34495e;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

#addBookForm label {
    display: block;
    margin-top: 10px;
}

#addBookForm input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.action-icon {
    cursor: pointer;
    margin: 0 5px;
    font-size: 18px;
    color: #555;
    transition: color 0.3s ease;
    margin-left: 5px;
}

.action-icon.edit:hover {
    color: #2980b9;
}

.action-icon.delete:hover {
    color: #c0392b;
}